/* app css stylesheet */

body {
    padding-top: 20px;
}

.portrait{
    height: 30px;
    width: 50px;
    border: 1px solid black;
}

.radiant{
    color: forestgreen;
}

.dire{
    color: darkred;
}

.row1{
    margin: 10px 10px 10px 10px;
    width: 80%;
}

.table td, th {
    text-align: center;
}

.winner{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}