<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Sort by:
            <select ng-model="orderProp">
                <option value="game_mode">Game mode</option>
                <option value="duration">Duration</option>
                <option value="radiant_win">Result</option>
            </select>
        </div>
        <div class="col-md-10">

             <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Match ID</th>
                        <th>Game Mode</th>
                        <th>Result</th>
                        <th>Duration</th>
                        <th class="radiant">Radiant</th>
                        <th class="dire">Dire</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="match in matches | orderBy:orderProp">
                        <td><a href="#/matches/{{match.match_id}}">{{match.match_id}}</a></td>
                        <td>{{ match.game_mode | checkGameMode }}</td>
                        <td>{{ match.radiant_win | checkWhoWin }}</td>
                        <td>{{ match.duration | convertTime }}</td>
                        <td><span data-ng-repeat="player in match.players"><img ng-src="img/heroes/{{getName(player.hero_id)}}_full.png" ng-show="$index < 5" class="portrait"></span></td>
                        <td><span data-ng-repeat="player in match.players"><img ng-src="img/heroes/{{getName(player.hero_id)}}_full.png" ng-show="$index >= 5" class="portrait"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
