<div class="container-fluid">
    <div class="center">
        <div class="winner">{{ match.radiant_win | checkWhoWin }}</div>
        <div class="row1">

            <h3 class="radiant">Radiant</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Hero</th>
                    <th>Account ID</th>
                    <th>Level</th>
                    <th>Kill</th>
                    <th>Death</th>
                    <th>Assist</th>
                    <th>Last hit</th>
                    <th>XPM</th>
                    <th>GPM</th>
                </tr>
                </thead>
                <tbody>
                <tr table-head ng-repeat="player in match.players" ng-show="$index < 5">

                </tr>
                </tbody>
            </table>
        </div>


        <div class="row1">
            <h3 class="dire">Dire</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Hero</th>
                    <th>Account ID</th>
                    <th>Level</th>
                    <th>Kill</th>
                    <th>Death</th>
                    <th>Assist</th>
                    <th>Last hit</th>
                    <th>XPM</th>
                    <th>GPM</th>
                </tr>
                </thead>
                <tbody>
                <tr table-head ng-repeat="player in match.players" ng-show="$index >= 5">

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
